%h2 Worker agents
= link_to 'New agent', new_agent_path
%table.table
  %thead
    %tr
      %td Id
      %td Last synchronized
      %td Options
  %tbody
    - @agents.each do |agent|
      %tr{ class: ('bg-warning' if agent.last_sync_long_ago?) }
        %td= agent.id
        %td<
          - if agent.last_synced_at
            = time_ago_enhanced_block(agent.last_synced_at)
          - else
            Not synced
