= f.text_field :cert_path, help: t('activerecord.help.service.cert_path')
= f.text_field :rotate_container_name, help: t('activerecord.help.service.rotate_container_name')

%ul
  - Agent.find_each do |agent|
    %li
      %label
        %input{ type: :checkbox, name: "service[agent_ids][#{agent.id}]" }
        %span= agent.id
