@import 'bootstrap/variables';

.csr-checklist {
  list-style-type: none;
  overflow: auto;
  padding-left: 0;
}

.csr-checklist-item {
  border: solid thin $gray-light;
  border-radius: 4px;
  float: left;
  margin: 1em;
  padding: 0 .5em .5em;
  width: 200px;

  &.valid {
    box-shadow: inset 0 0 15px $state-success-bg;
  }

  &.warning {
    box-shadow: inset 0 0 15px $state-warning-bg;
  }
}
