.form-error-message
  - if @error_message
    = t "login.error.#{@error_message}"
  - else
    &nbsp;
  = form_tag url_for(action: :create), class: 'login-form form-horizontal' do
    .form-group{ cass: ('has-error' if @error_message) }
      %input.form-control{ type: :email, name: :email, autocapitalize: 'false', autocorrect: 'false', autofocus: true, placeholder: (t 'account.username'), tabindex: 1, value: @username }
    .form-group{ class: ('has-error' if @error_message) }
      %input.form-control{ type: :password, name: :password, placeholder: (t 'account.password'), tabindex: 2 }
    .form-group
      %input.btn.btn-large.btn-block.btn-primary{ type: :submit, tabindex: 3, value: 'Login' }
    .form-group
      = link_to t('account.lost_password'), recover_users_path
