.row.vertical-center
  .login-form-container.col-sm-12.col-lg-4.well.well-lg.center-block
    %h1 Sign in
    .form-error-message
      - if @error_message
        = t "login.error.#{@error_message}"
      - else
        &nbsp;
    = form_tag url_for(action: :create), class: 'login-form form-horizontal' do
      .form-group{class: ('has-error' if @error_message)}
        %input.form-control{type: :email, autocapitalize: 'false', autocorrect: 'false', autofocus: true, placeholder: (t 'account.username'), tabindex: 1, value: @username}
      .form-group{class: ('has-error' if @error_message)}
        %input.form-control{type: :password, placeholder: (t 'account.password'), tabindex: 2}
      .form-group
        %input.btn.btn-large.btn-block.btn-primary{type: :submit, tabindex: 3, value: 'Login'}
      .form-group
        = link_to t('account.lost_password'), recover_account_users_path