{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-inline-environment-variables",
        "minify-mangle-names",
        "minify-flip-comparisons",
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-runtime",
        "minify-dead-code-elimination"
      ]
    }
  },
  "plugins": [
    "transform-react-remove-prop-types",
    "@babel/syntax-dynamic-import"
  ]
}
