{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-inline-environment-variables",
        "@babel/plugin-transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}
