# Rails stuff
*.md
.gitignore
.reek

test
log/*
tmp/cache/*
tmp/pids/*
tmp/sockets/*
db/*.sqlite3

# Development Environment
dev
dockers
Dockerfile
.*
*-compose.yml
common.yml
production.yml

*.json

apparmor_policy
