# Rails stuff
*.md
.gitignore
.reek
.*.yml

test
log/*
tmp/cache/*
tmp/pids/*
tmp/sockets/*
db/*.sqlite3

# Development Environment
dev
dockers
.idea
.git
Dockerfile

common.yml
production.yml
*-compose.yml

apparmor_policy
cloudformation.json
ecs-manifest.json
