# Rails stuff
*.md

test
log/*
tmp/cache/*
tmp/pids/*
tmp/sockets/*
db/*.sqlite3

# Development Environment
dev
dockers
Dockerfile
.*
*-compose.yml
common.yml
production.yml

!.git/HEAD
!.git/refs/heads/master

*.json

apparmor_policy
