%h2 Sign that certificate!
%h3 #{link_to @signer, @signer} will sign #{link_to @signee, @signee}
- if @signee.signed?
  .bg-warning
    %p This certificate has already been signed. A certificate can only have one issuer, performing this action will replace the previous issuer.
    %p Previous issuer: #{link_to @signee.issuer, @signee.issuer}
%h5 Make any changes that you want to make here
= render partial: 'sign_cert'