$border-color: #000;
$background: #fff;

.import-box {
  background-color: $background;
  overflow: auto;
  width: 100%;

  .cert-input-container {
    height: 100%;
    width: 100%;
  }

  .cert-input-span {
    border: dashed 1px $border-color;
    border-radius: 5px;
    display: block;
    font-family: monospace;
    height: 300px;
    max-width: 100%;
    outline: none;
    width: 100%;
  }
}

.cert-chunk button {
  float: inherit;
}
