#import-box-attach {
  width: 100%;
  height: 300px;
  background-color: white;
  border: dashed 2px black;
  overflow: auto;

  .cert-boundary {
    padding: 5px 0;
    text-align: center;
  }
  .cert-chunk {
    background-color: lightblue;
    padding: 10px;
  }

  .cert-input-container {
    width: 100%;
    height: 100%;
  }
  .cert-input-span {
    font-family: monospace;
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
  }
}