#import-box-attach {
  width: 100%;
  background-color: white;
  overflow: auto;

  .cert-input-container {
    width: 100%;
    height: 100%;
  }
  .cert-input-span {
    font-family: monospace;
    width: 100%;
    max-width: 100%;
    height: 300px;
    display: block;
    outline: none;
    border-radius: 5px;
    border: dashed 1px black;
  }
}