.vertical-center {
  align-items: center;
  display: flex;
  margin-bottom: -41px;
  margin-top: -81px;
  min-height: 100vh;
}

.form-login-error {
  height: 16px;
}

@media screen and (max-device-width: 350px) {
  .modal-centered-form {
    .login-form-container {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      width: 100%;
    }
  }
}

@media screen and (min-device-width: 350px) {
  .modal-centered-form {
    .login-form-container {
      transition: background-color .1s, border .1s;
      width: 350px;
    }
  }
}
