.vertical-center {
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin-top: -72px;
  margin-bottom: -41px;
}

.login-form {
  .form-control {
    margin-bottom: 1em;
  }
}

.form-login-error {
  height: 16px;
}

@media screen and (max-device-width: 350px) {
  .modal-centered-form {
    .login-form-container {
      width: 100%;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
  }
}
@media screen and (min-device-width: 350px) {
  .modal-centered-form {
    .login-form-container {
      transition: background-color 0.1s, border 0.1s;
      width: 350px;
    }
  }
}