!!! XML
%OpenSearchDescription{xmlns: 'http://a9.com/-/spec/opensearch/1.1/'}
  %ShortName= t 'brand'
  %Description Search for certificates
  %InputEncoding UTF-8
  %Url{type: 'text/html', template: "#{certificates_url}?query={searchTerms}"}/
  %Url{type: 'application/x-suggestions+json', template: "#{search_suggest_url(format: 'json')}?query={searchTerms}"}/