.container
  .row
    .col-sm-12
      %h1 Sign in
  = form_tag action: :create do
    .row
      .col-sm-12
        = email_field_tag :email, '', autocaptalize: false, autocorrect: false, class: 'form-control', placeholder: 'user@example.com', tabindex: 1
        = password_field_tag :password, '', class: 'form-control', placeholder: 'Password', tabindex: 2
        = submit_tag "Login", class: 'btn btn-primary', tabindex: 3