.panel.panel-primary
  .panel-heading Account status
  .panel-body.form-horizontal
    .form-group
      %label.col-sm-3.control-label Status
      .col-sm-9
        - if @user.confirmed_at.nil?
          %p.form-control-static.text-danger
            %span Email unconfirmed
            = form_for @user do |f|
              = f.submit 'Resend', class: 'btn btn-default'
        - elsif @user.can_login?
          %p.form-control-static.text-success Active
        - else
          %p.form-control-static.text-danger Locked
    .form-group
      %label.col-sm-3.control-label Created
      .col-sm-9
        %p.form-control-static= @user.created_at
    .form-group
      %label.col-sm-3.control-label Last Login
      .col-sm-9
        %p.form-control-static= @user.last_sign_in_at