.panel.panel-primary
  .panel-heading Authentication
  .panel-body
    = bootstrap_form_for @user, layout: :horizontal do |f|
      = f.password_field :password, label: t('account.password')
      = f.password_field :password_confirmation, label: t('account.confirm_password')
      = f.submit t('account.change_password'), class: 'btn btn-warning center-block'
