%h1 Add Agent
%div
%div
  %div Add an Agent to use the SoteriaAgent transport system to deploy certificates to machines
  %ol
    %li
      %h4 Firewall/networking
      %div Ensure that the container is permitted to access port 443.
      %code Container -> #{root_url}
    = react_component 'AgentNewForm', { imageName: @agent.image_name }, prerender: true, data: { react_mount: true, initialToken: 'foo' }
