@import 'bootstrap/variables';

$indicator-color: $btn-info-bg;

.loading-indicator {
  height: 32px;
  transform: translate3d(0, 10px, 0);
  width: 32px;
}

.loading-indicator-spinner {
  animation: spinner 3s infinite linear;
  fill: $indicator-color;
  transform-origin: 50% 0%;
}

@keyframes spinner {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, -360deg);
  }
}
