$border-color: #808080;
$success-color: #d6ffc1;
$progress-color: #ffffab;

.workflow-step-list {
  border: solid thin $border-color;
  display: table;
  padding-left: 0;
  table-layout: fixed;
  width: 100%;

  > li {
    display: table-cell;
    text-align: center;

    &.done {
      background-color: $success-color;
    }

    &.progress {
      background-color: $progress-color;
    }
  }
}
