@import 'bootstrap/variables';

aside {
  background-color: $breadcrumb-bg;
  border-radius: 2px;
  padding: 2px;
}

.aside-menu-list {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;

  > li > a {
    padding-left: 8px;
  }
}
