.row.vertical-center.modal-centered-form
  .login-form-container.col-sm-12.col-lg-4.well.well-lg.center-block
    %h1 Recover Account
    .form-error-message
      - if @error_message
        = t "login.error.#{@error_message}"
      - else
        &nbsp;
    %p Enter your email address below and an email will be sent to your email account.
    = form_tag url_for(action: :send_mail), class: 'login-form form-horizontal' do
      .form-group{class: ('has-error' if @error_message)}
        %input.form-control{type: :email, name: :email, autocapitalize: 'false', autocorrect: 'false', autofocus: true, placeholder: (t 'account.username'), tabindex: 1, value: @username}
      .form-group
        %input.btn.btn-large.btn-block.btn-primary{type: :submit, tabindex: 2, value: 'Recover account'}