%h1 ACME Certificates
%h3 Failed to verify endpoint
.well.well-lg
  %h4 Error details
  %h5 Type: #{@status.error['type']}
  %h5 Details
  %pre
    :preserve
      #{@status.error['detail']}
%h3 Your options
= link_to 'Retry verification', prove_ownership_certificate_path
