%h2 Your services
= link_to 'New service', action: :new
%table.table
  %thead
    %tr
      %td Common Name
      %td Status
      %td Control
  %tbody
    - @services.each do |service|
      %tr{class: ('bg-danger' if service.certificate.expires_in < 7.days)}
        %td= link_to service.certificate.subject.CN, id: service.id, action: :show
        %td Unknown
        %td Refresh