%table.table
  %thead
    %tr
      %td Common Name
      %td Status
  %tbody
    = render partial: 'certificate_row', collection: @certs, as: :cert
.row
  .center-block.col-md-3= will_paginate @certs