- if @expiring.any?
  %div
    %h3 #{pluralize @expiring.count, 'certificates'} expire in the next 7 days
    %ul
      - @expiring.each do |cert|
        %li= link_to cert.subject.CN, cert
%h2 Your certificates
= render partial: 'certificate_list'