%ul.nav.nav-pills
  %li.active= link_to (t 'certificate'), certificates_path
  %li= link_to (t 'operations.import'), import_certificates_path
  %li= link_to (t 'operations.new'), new_certificate_path
%h2 Your certificates
= render partial: 'certificate_list'
