$light-color: #eee;
$border-color: #000;

.certificate {
  background-color: $light-color;
  border-radius: 5px;
  font-family: monospace;

  span {
    padding: .5em;
  }

  ul {
    list-style-type: none;
  }

  > ul {
    padding-left: 0;
  }
}

.subject {
  list-style-type: none;
  padding: 0;

  li {
    border-left: dotted thin $border-color;
    float: left;
    padding: .4em 1em;

    &:last-child {
      border-right: dotted thin $border-color;
    }

    &:nth-child(odd) {
      background-color: $light-color;
    }

    label {
      font-weight: normal;
      top: 1em;
    }
  }
}

.cert-validity-bar {
  width: 100%;
}
