@import 'bootstrap/variables';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page-wrap {
  margin-bottom: -41px;
  min-height: 100%;
}

.content-pane {
  overflow: auto;
  padding-bottom: $navbar-height;
}
