@import "bootstrap/variables";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -41px;
}

.content-pane {
  overflow: auto;
  padding-bottom: $navbar-height;
}

footer {
  clear: both;
  position: relative;
}
