@import 'bootstrap/variables';

$highlight-accent: #20b5ff;

.search-suggest-container {
  position: relative;

  > input {
    border-radius: $input-border-radius $input-border-radius 0 0;
  }

  > .float {
    background-color: $input-border;
    border-radius: 0 0 2px 2px;
    left: 0;
    position: absolute;
    top: $input-height-base;
    width: 100%;
  }
}

.search-option {
  cursor: pointer;

  > a {
    display: block;
    padding: 5px;
  }
}

.search-highlighted-option,
.search-option:hover {
  background-color: $highlight-accent;
}
