.certificate {
  font-family: monospace;
}

textarea.certificate {
  width: 100%;
  height: 330px;
  padding: 0.5em;
}

div.certificate {
  border: solid thin black;
  border-radius: 5px;
  background-color: #eee;

  span {
    padding: 0.5em;
  }

  ul {
    list-style-type: none
  }

  > ul {
    padding-left: 0;
  }
}

ul.subject {
  list-style-type: none;
  padding: 0;

  li {
    float: left;
    padding: 0.4em 1em;
    border-left: dotted thin black;

    &:last-child {
      border-right: dotted thin black;
    }

    &:nth-child(odd) {
      background-color: #eee;
    }

    label {
      font-weight: normal;
      top: 1em;
    }
  }
}

.cert-validity-bar {
  width: 100%;
}

.drop-target {
  width: 30em;
  min-height: 30;
  border: dashed 3px black;

  &:-moz-drag-over, &:-webkit-drag-over {
    background-color: gray;
  }
}