@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

body:not(.modal-visible) {
  .modal-backdrop {
    display: none;
  }
}

.modal-body {
  max-height: 66vh;
}

label span {
  @include vendor-prefix(user-select, none);
}

.loading-indicator {
  width: 32px;
  height: 32px;
  transform: translateY(10px);
}

.loading-indicator-spinner {
  fill: #59ebff;
  transform-origin: 50% 0%;
  animation: spinner 3s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}