%tr.public-key
  %td
    = react_component 'CertBodyDialogLink', {certificate: {id: event.id}, children: 'Public Key'}, {prerender: true, data: {react_mount: true}}
    - if event == @cert.public_key
      %span (Current version)
    %div
      %span= l event.not_before, format: :lifetime
      %span ->
      %span= l event.not_after, format: :lifetime
  %td= event.updated_at