%tr.public-key
  %td
    = react_component 'CertBodyDialogLink', { model: { id: event.id, type: 'PublicKey' }, children: 'Public Key' }, prerender: true, data: { react_mount: true }
    - if event == @cert.public_key
      %span (Current version)
    %div
      %span= l event.not_before.in_time_zone(current_user.time_zone), format: :lifetime
      %span ->
      %span= l event.not_after.in_time_zone(current_user.time_zone), format: :lifetime
  %td= l event.updated_at.in_time_zone(current_user.time_zone), format: :long
