%h3 Automatically handle verification files
%p This will proxy requests for ACME certificates to CertManager to automatically handle everything. By using this approach, you will be able to enable automatic verification
%h4 NGINX Example:
%pre
  :preserve
    location /.well-known/acme-challenge {
      rewrite ^/.well-known/acme-challenge/(.*)$ /acme-challenge-responder/$1 break;
      proxy_set_header X-Original-Host $host;
      proxy_pass http://#{request.host}:#{request.port};
    }
